<div class="col-md-4 col-lg-4 visible-md visible-lg" id="sidebar">
    <div data-spy="affix">

        <h1>Image+ TV</h1>
        <h6>Advanced Image Template Variable</h6>

        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="index.html">Overview</a></li>
            <li><a href="installation.html">Installation</a></li>
            <li><a href="getting-started.html">Getting Started</a></li>
            <li><a href="configuration.html">Configuration</a></li>
            <li><a href="output-options.html">Output options</a></li>
            <li><a href="building-from-source.html">Building from source</a></li>
            <li><a href="custom-crop-engines.html">Custom Crop Engines</a></li>
        </ul>

        <hr />

    </div>
</div>