@import "jcrop";
@import "fineuploader";

.ip-imagepreview {
  border: 4px dashed #ddd;
  border-radius: 10px;
  position: relative;
  min-height: 85px;

  &:hover {
    background-color: #fafaff;
  }

  &.has-image {
    border: 4px solid #fff;
  }

  >.x-plain-bwrap {
    height: 0px;
  }


  /* Background text */
  label {
    text-align:center;
    font-size:1.2em;
    font-weight:bold;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -1.5em;
    margin-left: -75px;
    width: 50%;
    color: #ccc;
    text-shadow: 1px 1px #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide text when an image exists */
  &.has-image label {
    display:none;
  }


}


/* ImagePlus.form.IconButton */
.imageplus-ui-button i {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}


input.ip-upload {
  position: absolute;
  right:0px;
  top: 0px;
  width: 100%;
  cursor: pointer !important;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}