$treehillstudio-color: #cbd842;

#modx-input-props, #modx-widget-props {
  &.imageplus-props {
    padding-top: 0;
  }
}

.x-form-field-wrap {
  .x-form-triple-triggers {
    border: 0;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    height: 100% !important;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    .x-form-trigger {
      display: inline-block;
      position: relative;
      top: auto;
      vertical-align: top;
      &.x-form-clear-trigger {
        &:before {
          content: "\f00d";
        }
      }
      &.x-form-crop-trigger {
        &:before {
          content: "\f125";
        }
      }
    }
  }
}

.imageplus-hidden-textarea {
  display: none;
}

.imageplus-sectiontitle {
  .x-form-item-label {
    padding-top: 0;
  }
  .desc-under {
    padding-top: 0;
  }
}

.treehillstudio_about {
  cursor: pointer;
  height: 40px;
  opacity: .25;
  transition: opacity 0.5s;
  margin-top: 20px;
  &:hover {
    opacity: 1;
  }
  .x-panel-body {
    text-align: right;
  }
}

.treehillstudio_window {
  a {
    color: darken($treehillstudio-color, 10);
    text-decoration: none;
    &:hover {
      color: darken($treehillstudio-color, 25);
    }
  }
}

@import "jquery.jcrop";
