$treehillstudio-color: #cbd842;

#modx-input-props, #modx-widget-props {
  &.imageplus-props {
    padding-top: 0;
  }
}

.modx-grid {
  .x-grid-cell-icons {
    .x-grid3-cell-inner {
      padding-right: 5px;
    }
  }
}

.modx-grid-small {
  .x-grid3-cell-inner {
    padding: 8px 5px 8px 5px;
  }

  .x-grid3-hd-inner {
    padding: 8px 18px 8px 5px;
  }

  .x-grid3-td-checker {
    padding: 6px 0 0;

    &.x-grid3-hd {
      padding-top: 0;
    }
  }

  .x-panel-tbar {
    .x-toolbar {
      padding-top: 2px;

      &.x-small-editor {
        .x-form-text {
          padding: 3px 8px 2px 8px;
          margin-top: 0;
        }
      }

      .x-btn {
        padding: 4px 10px 4px 10px;
      }
    }
  }

  .x-panel-bbar {
    .x-toolbar {
      .x-btn {
        padding: 2px 2px;
      }

      .x-form-text {
        padding: 2px 3px;
      }
    }
  }

  .x-tbar-loading {
    &:before {
      line-height: 16px;
    }
  }

  .x-tbar-page {
    &-last, &-next, &-prev, &-first {
      &:before {
        line-height: 16px;
      }
    }
  }

  .x-btn-icon {
    &.arrow_up, &.arrow_down, &.refresh {
      button {
        &:before {
          line-height: 16px;
        }
      }
    }
  }

  .x-small-editor {
    .x-form-text, .x-form-field-wrap {
      margin-top: 2px;
    }
  }
}

.x-form-field-wrap {
  .x-form-triple-triggers {
    border: 0;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    height: 100% !important;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    .x-form-trigger {
      display: inline-block;
      position: relative;
      top: auto;
      vertical-align: top;
      &.x-form-clear-trigger {
        &:before {
          content: "\f00d";
        }
      }
      &.x-form-crop-trigger {
        &:before {
          content: "\f125";
        }
      }
    }
  }
}

.imageplus-hidden-textarea {
  display: none;
}

.imageplus-sectiontitle {
  .x-form-item-label {
    padding-top: 0;
  }
  .desc-under {
    padding-top: 0;
  }
}

.treehillstudio_about {
  cursor: pointer;
  height: 40px;
  opacity: .25;
  transition: opacity 0.5s;
  margin-top: 20px;
  &:hover {
    opacity: 1;
  }
  .x-panel-body {
    text-align: right;
  }
}

.treehillstudio_window {
  a {
    color: darken($treehillstudio-color, 10);
    text-decoration: none;
    &:hover {
      color: darken($treehillstudio-color, 25);
    }
  }
}

@import "jquery.jcrop";
