.imageplus-previewimage {
    max-width: 300px;
    margin-top:5px;
    margin-bottom:5px;
    display:block;
    border:1px solid #aaa;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}


.modx-panel-dropzone {
    width: 250px;
    height: 150px;
    margin: 10px;
    margin-left: 0;
    border: 4px dashed #ddd;
    border-radius: 10px;
    position: relative;
}


.modx-panel-dropzone .message {
    text-align:center;
    font-size:1.2em;
    font-weight:bold;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -2em;
    margin-left: -4em;
    width: 50%;
    color: #ccc;
}