.imageplus-previewimage {
    max-width: 300px;
    margin-top:5px;
    margin-bottom:5px;
    display:block;
    border:1px solid #aaa;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}


.ip-imagepreview {
    border: 4px dashed #ddd;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    background-image: url(fallback-arrow.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.ip-imagepreview:hover {
    background-color: #fafaff;
}

.ip-imagepreview-text {
    text-align:center;
    font-size:1.2em;
    font-weight:bold;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -0.5em;
    margin-left: -75px;
    width: 50%;
    color: #ccc;
    text-shadow: 1px 1px #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ip-imagepreview.has-image {
    border: 4px solid #fff;
}
.ip-imagepreview.has-image .ip-imagepreview-text {
    display:none;
}


.modx-panel-dropzone-image-panel {
    vertical-align: top;
}

.modx-panel-dropzone-button-panel {
    padding-top:10px;
    text-align:center;
}
.modx-panel-dropzone-button-panel a {
    display: block;
    font-size: 16px;
    color: #aaa;
    margin-bottom: 5px;
    cursor: pointer;
    transition: color 0.23s;
}
.modx-panel-dropzone-button-panel a:hover {
    color: #444;
    margin:auto;
    margin-bottom: 5px;
}
.modx-panel-dropzone-button-panel a.hover-red:hover {
    color: #c00;
}



.imageplus-ui-button i {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
}
