<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width" />
    <title>Image+ Template Variable</title>

    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="assets/shadowbox/shadowbox.css" />
    <link rel="stylesheet" href="assets/css/highlight.css">
    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/shadowbox/shadowbox.js"></script>
    <script type="text/javascript">
        Shadowbox.init({
            handleOversize: "drag",
            modal: false
        });

        $(function(){
            var cur_url = document.location.pathname.substr(1);
            var sidebarLinks = $('#sidebar .nav li a');
            for(var k=0;k<sidebarLinks.length;k++){
                var link = $(sidebarLinks[k])
                if(cur_url == link.attr('href')){
                    link.parent().addClass('active');
                } else {
                    link.parent().removeClass('active');
                }
            }
        })


    </script>
</head>
<body>


{% include mobile-nav.html %}


<div class="container" id="body">



    <div class="row">


        <!-- SIDEBAR --------------------------------------------------------- -->
        {% include sidebar.html %}




        <div class="col-lg-8 col-md-8">
            <h1 class="page-title hidden-lg hidden-md">{{page.title}}</h1><hr />
            <div id="content">
                {{content}}
            </div>
        </div>




    </div>



</div>


<a href="https://github.com/alanpich/tvImagePlus" target="_BLANK" class="hidden-xs hidden-sm">
    <img style="position: absolute; position:fixed; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub">
</a>

</body>
</html>