<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width" />
    <title>Image+ Template Variable</title>
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600|Jura:400,600" />
    <!--<link rel="stylesheet" href="assets/shadowbox/shadowbox.css" />-->
</head>
<body>
{% include mobile-nav.html %}
<div class="container" id="body">
    <div class="row">
        <!-- SIDEBAR --------------------------------------------------------- -->
        {% include sidebar.html %}
        <!-- MAIN COLUMN ----------------------------------------------------- -->
        <div class="col-lg-8 col-md-8">
            <!--<h1 class="page-title hidden-lg hidden-md">{{page.title}}</h1><hr />-->
            <div id="content">
                {{content}}
            </div>
        </div>
    </div>
</div>
<a href="https://github.com/alanpich/tvImagePlus" target="_BLANK" class="hidden-xs hidden-sm">
    <img style="position: absolute; position:fixed; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub" width="149" height="149">
</a>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!--<script src="assets/shadowbox/shadowbox.js"></script>-->
<script type="text/javascript">
//    Shadowbox.init({
//        handleOversize: "drag",
//        modal: false
//    });

    $(function(){
        var cur_url = document.location.pathname.substr(1);
        var sidebarLinks = $('.nav li a');
        for(var k=0;k<sidebarLinks.length;k++){
            var link = $(sidebarLinks[k])
            if(cur_url == link.attr('href')){
                link.parent().addClass('active');
            } else {
                link.parent().removeClass('active');
            }
        }
    })
            
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45002484-1', 'alanpich.github.io');
  ga('send', 'pageview');

</script>
</body>
</html>
